

.media_section {
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    background: cover;
    padding: 20px;
    width: 100%;
    background-image: linear-gradient(to right,
                       rgba(0, 0, 0, 0.0),
                       rgba(0, 0, 0, 0.2), 
                       rgba(0, 0, 0, 0.3),
                       rgba(0, 0, 0, 0.2),
                        rgba(0, 0, 0, 0.0));
  }

  .title {
    margin: 0;
    color: white;
    font-size: 52px;
    letter-spacing: 2px;
    z-index: 1;
    text-align: center;
  }

.vol {
font-size: 28px;
cursor: pointer;
}

.player {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 1.6rem;
    padding: 10px;
    z-index: 1;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}



.timer {
    color: white;
    font-size: 22px;
}

.play {
    background: transparent;
    color: white;
    font-size: 62px;
    cursor: pointer;
}



.volume-slider {
    width: 100px;
    margin: 0 10px;
    accent-color: #ffffff;
}

.timer {
    font-size: 28px;
}

button {
    background-color: transparent;
    border: none;
}


@media (max-width: 844px) { 
    .media_section {
        bottom: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 1;
        align-items: center;
        background: cover;
        padding: 20px;
        width: 100%;
        background-image: linear-gradient(to right,
                           rgba(0, 0, 0, 0.8),
                           rgba(0, 0, 0, 0.9),
                           rgba(0, 0, 0, 1), 
                           rgba(0, 0, 0, 1),
                           rgba(0, 0, 0, 1),
                            rgba(0, 0, 0, 0.9),
                            rgba(0, 0, 0, 0.8));
      }

}